<div class="container-fluid mt-0">
  <p class="h5 mt-3 mb-2">Custom topic categories</p>
  <div class="row no-gutters mt-0">
    <div class="col-6">
      <%= link_to "Health", custom_latest_headlines_path('health'), class: "btn btn-light border mt-0 w-100" %>
    </div>
    <div class="col-6">
      <%= link_to "Science", custom_latest_headlines_path('science'), class: "btn btn-light border mt-0 w-100" %>
    </div>
  </div>
  <div class="row no-gutters mt-0">
    <div class="col-6">
      <%= link_to "Food", custom_latest_articles_path('food'), class: "btn btn-light border mt-0 w-100" %>
    </div>
    <div class="col-6">
      <%= link_to "World", custom_latest_articles_path('world'), class: "btn btn-light border mt-0 w-100" %>
    </div>
  </div>
  <div class="row no-gutters mt-0">
    <div class="col-6">
      <%= link_to "Business", custom_latest_headlines_path('business'), class: "btn btn-light border mt-0 w-100" %>
    </div>
    <div class="col-6">
        <%= link_to "Economics", custom_latest_articles_path('economics'), class: "btn btn-light border mt-0 w-100" %>
    </div>
  </div>
  <div class="row no-gutters mt-0">
    <div class="col-6">
      <%= link_to "Finance", custom_latest_articles_path('finance'), class: "btn btn-light border mt-0 w-100" %>
    </div>
    <div class="col-6">
        <%= link_to "Politics", custom_latest_articles_path('politics'), class: "btn btn-light border mt-0 w-100" %>
    </div>
  </div>
  <div class="row no-gutters mt-0">
    <div class="col-6">
      <%= link_to "Beauty", custom_latest_articles_path('beauty'), class: "btn btn-light border mt-0 w-100" %>
    </div>
    <div class="col-6">
      <%= link_to "Music", custom_latest_articles_path('music'), class: "btn btn-light border mt-0 w-100" %>
    </div>
  </div>
  <div class="row no-gutters mt-0">
    <div class="col-6">
      <%= link_to "Travel", custom_latest_articles_path('travel'), class: "btn btn-light border mt-0 w-100" %>
    </div>
    <div class="col-6">
      <%= link_to "Technology", custom_latest_headlines_path('technology'), class: "btn btn-light border mt-0 w-100" %>
    </div>
  </div>
  <div class="row no-gutters mt-0">
    <div class="col-6">
        <%= link_to "Sports", custom_latest_headlines_path('sports'), class: "btn btn-light border mt-0 w-100" %>
    </div>
    <div class="col-6">
      <%= link_to "Entertainment", custom_latest_headlines_path('entertainment'), class: "btn btn-light border mt-0 w-100" %>
    </div>
  </div>
</div>
