

<p>
  <strong>Course name: <%= @course.course_name %></strong>
</p>

<p>
  <strong>Course Description: <%= @course.course_description %></strong>
</p>

<p>
  <strong>Course Content: <%= @course.course_content %></strong>
</p>

<%= link_to 'Edit', edit_user_course_path(@user, @course) %> |
<%= link_to 'Back', user_courses_path(@user) %>
