<div class="row">
  <div class="col-sm-8">
    <div class="row">
      <div class="col mt-4">
        <h2><%= @user.username %></h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <% if @courses.size > 0 %>
          <p class="h6 mt-4">Most Recent Courses offered </p>
          <div class="card shadow">
            <div class="list-group list-group-horizontal list-group-flush">
              <% @user.courses.each do | course| %>
                <li class="list-group-item"><%= link_to course.course_name, user_course_path(@user, course) %></li>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col mt-5 mb-0">
        <% if @posts.size > 0 %>
          <p class="h4">Aha's Posted by <%= @user.username %>:</p>
        <% else %>
          <p class="h4"><%= @user.username %> currently has no Aha's posted. Stay tuned though!</p>
        <% end %>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col">
        <%= render partial: "posts/list", locals:{posts: @posts}%>
      </div>
    </div>
  </div>
  <div class="col-sm-4 mt-2">
    <% if @courses.size > 0 %>
      <p class="h5">Most purchased courses from <%= @user.username %></p>
      <div class="card shadow">
        <ul class="list-group list-group-flush">
          <% @courses.each do | course| %>
            <li class="list-group-item"><%= link_to course.course_name, user_course_path(@user, course) %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= link_to "View All Courses", user_courses_path(@user), class: "btn btn-outline-primary mt-4" %>
  </div>
</div>
